:root {
    --primary: #EB6C27;
    --text: #3a3a3a;
    --text-grey: #888888;
    --hover-primary: #c2581e;
    --transition: .2s all ease;
}

/* basics */

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    display: flex;
    text-decoration: none;
    padding: 0.8em 2em 0.8em 2em;
    width: fit-content;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    gap: 1em;
    font-size: max(3vw, 1em);
    transition: var(--transition);
}

.btn--primary {
    color: white;
    background-color: var(--primary);
}

.btn--light {
    color: var(--primary);
    background-color: white;
}

.btn--hero {
    bottom: 50px;
}

.btn--hero::after {
    content: '\203A';
    display: inline-block;
    transform: rotate(90deg);
}

/* Scrollbar CSS */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--primary) white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

.container {
    z-index: 2;
    flex-grow: 1;
    position: relative;
}

/* navbar */

.navbar {
    position: absolute;
    height: 80px;
    top: 0;
    display: flex;
    background-color: white;
    width: 100% ;
    z-index: 99;
    margin: auto;
    justify-content: space-between;
}

.navbar__brand {
    display: flex;
    margin: 1em;
}

.navbar-links {
    height: 100%;
}

.navbar-links {
    top: 85px;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    position: absolute;
    width: 88.89%;
    display: none;
}

.navbar-links li {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-links__link {
    padding: 1em;
    text-decoration: none;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    z-index: 2;
    height: fit-content;
    padding: 2em 2em 2em 2em;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1em;
}

.footer__heading {
    text-align: center;
    font-size: 6vw;
    padding: 0;
    margin: 0;
}

.footer__text {
    text-align: center;
    font-size: 3vw;
}

/* Home */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-hero {
    background-blend-mode: normal, normal, hue, normal;
    height: 100vh;
    object-fit: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../media/pageheader-1920w.jpg") no-repeat fixed center;
    background-size: cover;
    flex-direction: column;
}

.home-welcome-text {
    color: white;
    letter-spacing: -0.05em;
}

.home-welcome-text__heading {
    padding: 0;
    margin: 0;
    text-align: center;
}

.home-welcome-text__heading--1 {
    font-weight: 800;
    font-size: max(8vw, 2em);
    text-wrap: none;
}

.home-welcome-text__heading--2 {
    font-weight: 300;
    font-size: max(4vw, 1em);
}

.welcome-hero > * {
    background-attachment: fixed;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

/* Media quaries */

@media (min-width: 880px) {
    .navbar {
        margin-top: 2em;
        width: 80%;
    }
    .btn--primary:hover {
        background-color: var(--hover-primary);
    }
    .btn--light:hover {
        opacity: .6;
    }
    .home-welcome-text {
        bottom: 200px;
    }
    .footer__heading {
        font-size: 3em;
    }
    .footer__text {
        font-size: 1em;
    }

    .btn {
        font-size: 1em;
    }
    .navbar-links {
        transform: unset;
        width: fit-content;
        position: unset;
        height: 100%;
        display: flex;
    }
}

@media (min-width: 1280px) {
}

@media(prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }
}
