:root {
    --primary: #EB6C27;
    --text: #3a3a3a;
    --text-grey: #888888;
    --hover-primary: #c2581e;
    --transition: .2s all ease;
    --grad: linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);

}

/* basics */

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    display: flex;
    text-decoration: none;
    padding: 1em 3em 1em 3em;
    width: fit-content;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    gap: 1em;
    font-size: max(3vw, 1em);
    transition: var(--transition);
}

.btn--primary {
    color: white;
    background-color: var(--primary);
}

.btn--light {
    color: var(--primary);
    background-color: white;
}

.btn--outlined {
    border: 1px var(--primary);
    outline-style: dashed;
}

.btn--hero {
    bottom: 50px;
}

.btn--hero::after {
    content: '\203A';
    display: inline-block;
    transform: rotate(90deg);
}

.container {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    z-index: 2;
    padding: 8em 6vw 8em 6vw;
    overflow: hidden;
    background-color: white;
    flex-grow: 1;
}

.container__title {
    text-align: start;
    width: 100%;
}

.container__paragraph {
    text-align: start;
    width: 100%;
}

.orange {
    color: var(--primary);
}

/* Scrollbar CSS */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--primary) white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

/* navbar */

.navbar {
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 70px;
}

.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    margin-left: 5%;
}


.navbar__logo img {
    height: 100%;
    transition: all .2s ease;
}

.navbar__hamburger{
    width: 44px;
    height: 49px;
    position: relative;
    cursor: pointer;
    appearance: none;
    outline: none;
    border: none;
    background: none;
    margin-right: 5%;
}

.navbar__hamburger-title {
    position: absolute;
    font-size: 15px;
    line-height: 11px;
    color: var(--text-grey);
}

.navbar__hamburger-floor{
    position: absolute;
    background: var(--grad);
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 8px;
}
.navbar__hamburger span:nth-child(1){
    top: 0;
    left: 0;
}
.navbar__hamburger span:nth-child(2){
    top: 13px;
    left: 0;
}
.navbar__hamburger span:nth-child(3){
    top: 27px;
    left: 0;
}

.navbar__hamburger span:nth-child(4){
    bottom: 0;
    left: 0;
}

.navbar__hamburger.open span:nth-child(1){
    transform: scale(0);
    transition-duration: 50ms
}

.navbar__hamburger.open span:nth-child(2){
    transform: rotate(45deg);
    top: 13px;
}
.navbar__hamburger.open span:nth-child(3){
    transform: scale(0);
    transition-duration: 50ms
}
.navbar__hamburger.open span:nth-child(4){
    top: 13px;
    transform: rotate(-45deg);
}

.navbar__hamburger.open {
    height: 34px;
}

.navbar__menu {
    position: absolute;
    height: 0;
    top: 100px;
    opacity: 0;
    background-color: var(--primary);
    padding: 0;
    margin: 0;
    width: calc(100% - 32px);
    left: 16px;
    display: none;
}

.navbar__menu::before {
    content: "";
    width: 0;
    height: 0;
    top: -30px;
    position: absolute;
    border-bottom: 15px solid var(--primary);
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    right: 7px;
}

.navbar__button {
    height: 100%;
}

.navbar__menu.open .navbar__button {
    display: block;
}

.navbar__menu.open {
    transition: all .2s ease;
    display: block;
    opacity: 1;
    height: fit-content;
    width: 90%;
    left: 5%;
}


.navbar__link {
    color: white;
    text-align: start;
    font-size: 1.25rem;
    font-weight: 500;
    transition: var(--transition);
    touch-action: none;
    padding: 1em;
    display: flex;
    align-items: center;
    height: 100%;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    z-index: 2;
    height: fit-content;
    padding: 2em 2em 2em 2em;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1em;
}

.footer__heading {
    text-align: center;
    font-size: 6vw;
    padding: 0;
    margin: 0;
}

.footer__text {
    text-align: center;
    font-size: 3vw;
}

/* Home */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-hero {
    background-blend-mode: normal, normal, hue, normal;
    height: 100vh;
    object-fit: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../media/pageheader-1920w.jpg") no-repeat fixed center;
    background-size: cover;
    flex-direction: column;
}

.home-welcome-text > * {
    color: white;
    letter-spacing: -0.05em;
    padding: 0;
    margin: 0;
    text-align: center;
}

.home-welcome-text__heading {
    font-weight: 700;
    font-size: max(7vw, 2em);
    margin-bottom: 2vh;
}

.home-welcome-text__slogan {
    font-weight: 200;
    font-size: max(3vw, 1em);
}

.welcome-hero > * {
    background-attachment: fixed;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

/* Services */

.service {

}

.service__img {
    width: 100%;
    height: 10em;
    object-fit: cover;
}

.service__img--left {
    border-radius: 0 0 40px 0;
}

.service__img--right {
    border-radius: 0 0 0 40px;
}


/* Media quaries */

@media (min-width: 777px) {

    .navbar__logo img:hover {
        opacity: .6;
    }

    .navbar__hamburger {
        display: none;
    }

    .navbar__logo {
        margin-left: 1em;
        height: calc(100% - 2em);
    }

    .navbar__menu, .navbar__menu.open {
        opacity: 1;
        position: static;
        display: flex;
        align-items: center;
        padding: 0;
        left: unset;
        width: fit-content;
        height: 100%;
        top: unset;
        transition: 0s;
        background-color: white;
    }

    .navbar__button {
        list-style: none;
    }

    .navbar__link {
        text-decoration: none;
        font-size: 1.2em;
        position: relative;
        color: var(--text-grey);
        padding: 0 1em 0 1em;
    }

    .navbar__menu.open {
        display: flex;
    }

    .navbar__button--activate, .navbar__button:hover {
        background-color: var(--primary);
    }

    .navbar__menu::before {
        display: none;
    }

    .navbar__button--activate > .navbar__link, .navbar__button:hover > .navbar__link {
        color: white;
    }
}

@media (min-width: 880px) {

    .btn--primary:hover {
        background-color: var(--hover-primary);
    }
    .btn--light:hover {
        opacity: .6;
    }
    .home-welcome-text {
        bottom: 200px;
    }
    .footer__heading {
        font-size: 3em;
    }
    .footer__text {
        font-size: 1em;
    }

    .btn {
        font-size: 1em;
    }

    .service {
        display: flex;
        width: 60vw;
        gap: 3em;
        height: 30vh;
        margin: 5em auto 0 auto;
    }

    .service__img {
        height: 100%;
        width: calc(50% - 3em);
    }

}

@media (min-width: 1150px) {
    .navbar-links {
        transform: unset;
        width: fit-content;
        position: unset;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .navbar-link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .navbar-link-container__link {
        padding: 2em;
    }
    .navbar {
        position: absolute;
        margin-top: 2em;
        width: 80%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .navbar__hamburger {
        display: none;
    }
    .container__title {
        font-size: 3.5em;
        margin: 0 0 48px 0;
        text-align: center;
    }
    .container__paragraph {
        width: 40vw;
        text-align: center;
    }

    .service__heading {
        font-size: 2.5em;
    }

}

@media(prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }
}
