:root {
    --primary: #EB6C27;
    --text: #3a3a3a;
    --text-grey: #888888;
    --hover-primary: #c2581e;
    --transition: .2s all ease;
    --grad: linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);

}

/* basics */

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    display: flex;
    text-decoration: none;
    padding: 0.8em 2em 0.8em 2em;
    width: fit-content;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    gap: 1em;
    font-size: max(3vw, 1em);
    transition: var(--transition);
}

.btn--primary {
    color: white;
    background-color: var(--primary);
}

.btn--light {
    color: var(--primary);
    background-color: white;
}

.btn--hero {
    bottom: 50px;
}

.btn--hero::after {
    content: '\203A';
    display: inline-block;
    transform: rotate(90deg);
}

/* Scrollbar CSS */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--primary) white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

.container {
    z-index: 2;
    flex-grow: 1;
    position: relative;
}

/* navbar */


.navbar {
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 54px;
}

.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar__logo img {
}

.navbar__logo img {
    object-fit: cover;
    height: 100%;
    transition: all .2s ease;
}

.navbar__hamburger{
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
    appearance: none;
    outline: none;
    border: none;
    background: none;
}
.navbar__hamburger span{
    position: absolute;
    background: var(--grad);
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 8px;
}
.navbar__hamburger span:nth-child(1){
    top: 0;
    left: 0;
}
.navbar__hamburger span:nth-child(2){
    top: 14px;
    left: 0;
}
.navbar__hamburger span:nth-child(3){
    bottom:0;
    left: 0;
}

.navbar__hamburger.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
}
.navbar__hamburger.open span:nth-child(2){
    transform: scale(0);
    transition-duration: 50ms
}
.navbar__hamburger.open span:nth-child(3){
    top: 13px;
    transform: rotate(-45deg);

}

.navbar__menu {
    position: fixed;
    left: 0;
    width: 100%;
    height: 0;
    top: 70px;
    opacity: 0;
    background-color: #fff;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin: 0;
    padding: 1em 0 0 0;
}

.navbar__menu li {
    display: none;
}

.navbar__menu.is-open li {
    display: block;
}

.navbar__menu.is-open {
    transition: all .2s ease;
    display: block;
    opacity: 1;
    height: 100%;
}


.navbar__link {
    display: block;
    padding: 1rem;
    color: var(--text-grey);
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    transition: var(--transition);
    touch-action: none;
}

.navbar__link--activate, .navbar__link:hover {
    color: white;
    background-color: var(--primary);
}

.navbar__menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    z-index: 2;
    height: fit-content;
    padding: 2em 2em 2em 2em;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1em;
}

.footer__heading {
    text-align: center;
    font-size: 6vw;
    padding: 0;
    margin: 0;
}

.footer__text {
    text-align: center;
    font-size: 3vw;
}

/* Home */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-hero {
    background-blend-mode: normal, normal, hue, normal;
    height: 100vh;
    object-fit: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../media/pageheader-1920w.jpg") no-repeat fixed center;
    background-size: cover;
    flex-direction: column;
}

.home-welcome-text {
    color: white;
    letter-spacing: -0.05em;
}

.home-welcome-text__heading {
    padding: 0;
    margin: 0;
    text-align: center;
}

.home-welcome-text__heading--1 {
    font-weight: 800;
    font-size: max(8vw, 2em);
    text-wrap: none;
}

.home-welcome-text__heading--2 {
    font-weight: 300;
    font-size: max(4vw, 1em);
}

.welcome-hero > * {
    background-attachment: fixed;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

/* Media quaries */

@media (min-width: 700px) {

    .navbar__logo img:hover {
        opacity: .6;
    }

    .navbar__link:hover {
    }

    .navbar__hamburger {
        display: none;
    }

    .navbar__menu {
        opacity: 1;
        position: static;
        display: flex;
        align-items: center;
        padding: 0;
        left: unset;
        width: auto;
        height: auto;
        top: unset;
        transition: 0s;
    }

    .navbar__menu li {
        display: block;
    }

    .navbar__link {
        text-decoration: none;
        font-size: 1.2em;
        padding: .75em;
        position: relative;
    }

    .navbar__menu.is-open {
        display: flex;
    }
}

@media (min-width: 880px) {

    .btn--primary:hover {
        background-color: var(--hover-primary);
    }
    .btn--light:hover {
        opacity: .6;
    }
    .home-welcome-text {
        bottom: 200px;
    }
    .footer__heading {
        font-size: 3em;
    }
    .footer__text {
        font-size: 1em;
    }

    .btn {
        font-size: 1em;
    }

}

@media (min-width: 1150px) {
    .navbar-links {
        transform: unset;
        width: fit-content;
        position: unset;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .navbar-link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .navbar-link-container__link {
        padding: 2em;
    }
    .navbar {
        position: absolute;
        margin-top: 2em;
        width: 80%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .navbar__hamburger {
        display: none;
    }
}

@media(prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }
}
